{% extends 'index.html' %}

{% load static %}

{% block content %}
    <div class="container p-5">
        <div class="flex w-full justify-start">
            <h1 class="font-bold text-xl md:text-3xl">
                Batch
            </h1>
        </div>
        <div class="p-4">
            

        <header class="flex justify-between mb-3">
            <a href="/batch/add/" class="flex justify-center items-center h-[50px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">
                Add Batch
            </a>
        </header>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Batch name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            budget
                        </th>
                        <th scope="col" class="px-6 py-3">
                            status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            count
                        </th>
                        <th scope="col" class="px-6 py-3">
                            start_date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            end_date
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                        <tr onclick="viewBatchRedirect('{{batch.batch_id}}')" class="hover:bg-blue-100 odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ batch.batch_name }}
                            </th>
                            <td class="px-6 py-4">
                                {{ batch.budget }}
                            </td>
                            <td class="px-6 py-4 font-semibold {% if batch.status == 'Open' %} text-green-600 {% else %} text-red-600 {% endif %}">
                                {{ batch.status }}
                            </td>
                            <td class="px-6 py-4">
                                {{ batch.current_count }} / {{ batch.limit }}
                            </td>
                            <td class="px-6 py-4">
                                {{ batch.start_date }}
                            </td>
                            <td class="px-6 py-4">
                                {{ batch.end_date }}
                            </td>
                            <td class="px-6 py-4">
                                <a href="update/{{batch.batch_id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="delete/{{batch.batch_id}}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function viewBatchRedirect(batch_id) {
            window.location.href = `/batch/details/${batch_id}`;
        }
    </script>
{% endblock %}